/* Organização das margens e paddings padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão para todo o site */
body {
    font-family: Hammersmith One, sans-serif;
    background-color: #fdf6f0;
    color: #4B2E2E;
    line-height: 1.6;
    padding: 20px;
    text-align: center;

}

/*Estilização frase de efeito*/
.frase-efeito {
    font-size: 1.2rem;
    color: #d9c3b0;
    display: block;
    margin-bottom: 10px;
}

/* Cabeçalho OK*/
.capa {
    background-image: url("img/bolo-capa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 72%;
    height: 400px;
    max-width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 12px;
}

.capa .cabecalho {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 80px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capa .slogan {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.capa .titulo {
    font-family: Hammersmith One, serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
}

header h1 {
    font-size: 2.5em;
    margin-top: 10px;
    color: #d9c3b0;
}

header h5 {
    color: #d9c3b0;
    letter-spacing: 2px;
    font-weight: normal;
}

/*Barra de Navegação*/

.navbar {
    background-color: #A0522D;
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 100vw;
    overflow: visible;
    border-radius: 12px;
}

.navbar a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 1rem;
    padding: 6px 10px;
    line-height: 0.5;
    display: inline-block;
}

/* Seções principais */
section {
    margin: 40px;
    padding: 20px;
    background-color: #d9c3b0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.produto {
    display: flex;
    gap: 400px;
    align-items: center;
    margin: 20px 0;
    align-items: center;
}

.produto-imagens-col img {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    position: static;
    object-fit: cover;
    margin: 10px;

}

.produto-imagens-col .img-baixa1 {
     margin: 45px;
}

.produto-info {
    max-width: 600px;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5A2D0C;
    color: #fdf6f0;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: normal;
    cursor: pointer;
}

section h2 {
    margin-bottom: 15px;
    color: #A0522D;
    font-size: 2rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: #8B4513;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-size: 0.95rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h3 {
    color: #FFDAB9;
    margin-bottom: 10px;
}

.footer-col p {
    margin: 4px 0;
}

/*Botão Whatsapp*/
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
}

/* Links e botões (se for usar depois) */
a,
button {
    background-color: #A0522D;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

a:hover,
button:hover {
    background-color: #7B3F00;
}

@media (max-width: 768px) {
    .hero {
        height: 300px;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .frase-efeito {
        font-size: 1rem;
    }

}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-col {
        margin-bottom: 20px;
    }
}