/* Organização das margens e paddings padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão para todo o site */
body {
    font-family: Hammersmith One, sans-serif;
    background-color: #fdf6f0;
    color: #4B2E2E; /
    line-height: 1.6;
    padding: 20px;
    
}

/* Cabeçalho */
.hero {
    background-image: url("img/bolo-capa.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
}

.hero .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 80px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .slogan {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero .titulo {
    font-family: Hammersmith One, serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}
    
header h1 {
    font-size: 2.5em;
    margin-top: 10px;
    color: #d9c3b0;
}

header h5 {
    color: #d9c3b0;
    letter-spacing: 2px;
    font-weight: normal;
}

/* Seções principais */
section {
    margin: 40px 0;
    padding: 20px;
    background-color: #d9c3b0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar {
  background-color: #A0522D;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

section h2 {
    margin-bottom: 15px;
    color: #A0522D;
}

/* Footer */
footer {
    background-color: #8B4513;
    color: #fff;
    padding: 30px 20px;
    margin-top: 40px;
    text-align: center;
    border-radius: 8px;
}

footer h2, footer h3 {
    margin-bottom: 10px;
    color: #FFDAB9;
}

/* Links e botões (se for usar depois) */
a, button {
    background-color: #A0522D;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

a:hover, button:hover {
    background-color: #7B3F00;
}
